@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond:ital,wght@1,500&family=Kaushan+Script&family=Merriweather+Sans&family=Varela+Round&display=swap');

.navbar-landing {
    background-color: rgb(167, 166, 166);
    font-family: 'Merriweather Sans';
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .navbar-landing {
        display: block;
    }
}


.navbar {
    background-color: rgb(167, 166, 166);
    font-family: "Merriweather Sans";
    display: flex;
    justify-content: center;
}

figcaption {
    display: flex;
    justify-content: center;
    font-family: "Kaushan Script";
    bottom: 2rem;
    margin: 0 2rem;
    color: rgb(45, 45, 45);
    padding-bottom: 1.5vh;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    figcaption {
        position: inherit;
        bottom: inherit;
        font-size: inherit;
    }

}


.gallery-upload-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1rem;
}

.gallery-upload-function>button {
    background-color: rgba(0, 0, 0, 0.778);
    border-radius: 99px;
    border: none;
    color: white;
    padding: 0.3rem 0.3rem;
}

.gallery-upload-function>input {
    background-color: rgba(82, 81, 81, 0.064);
}


.GalleryOnePhotoPage-landing>img {
    width: 80vw;
    height: 80vh;
    object-fit: contain;
}

.wrapper {
    max-width: 1350px;
    padding: 0px 60px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.wrapper img {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.79);
    display: flex;
    align-items: center;
}

.overlay-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto
}

.overlay img {
    display: block;
    width: 70vw;
    height: 70vh;
    margin: auto;
    object-fit: contain;
}

.overlay>span {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 30px;
    font-family: 'Varela Round';
    color: white;
    z-index: 999;
    cursor: pointer;
}

.img-title {
    font-size: 2rem;
    font-family: 'Caveat';
    color: white;
    background-color: #000000a4;
    padding-left: 1vw;
    padding-right: 1vw;
}

.overlay-arrows_left {
    display: flex;
    color: white;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 4vw;
    z-index: 999;
    cursor: pointer;
}

.overlay-arrows_left svg {
    width: 50px;
    height: 50px;
}

.overlay-arrows_right {
    display: flex;
    color: white;
    justify-content: space-between;
    position: absolute;
    right: 4vw;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 999;
    cursor: pointer;

}

.overlay-arrows_right svg {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 576px) {
    .overlay>span {
        position: absolute;
        top: 13%;
        right: 11%;
        font-size: 24px;
        font-family: 'Varela Round';
        color: white;
        z-index: 999;
        cursor: pointer;
    }

    .overlay img {
        display: flex;
        position: relative;
        width: 70vw;
        height: 45vh;
        margin: auto;
        object-fit: contain;
    }

    .img-title {
        font-size: 1.4rem;
        font-family: 'Caveat';
        color: white;
        background-color: #000000a4;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .overlay-arrows_left svg {
        width: 30px;
        height: 30px;
    }

    .overlay-arrows_right svg {
        width: 30px;
        height: 30px;
    }
}